:root {
    --background-angle: 120deg;
    --background-step0: #002b36;
    --background-step1: #073642;
  
    --font-family: monospace;
  
    --element-backgound: #073642;
    --element-text-color: #93a1a1;
    --element-hover-cursor: pointer;
    --element-hover-backgound: #586e75;
  
    --icon-color: #b58900;
  
    --focused-workspace-backgound: #268bd2;
    --focused-workspace-highlight: #2aa198;
  
    --date-day-color: white;
    --date-month-color: #affeff;
    --date-year-color: #839496;
	
	--time-hour-color: white;
    --time-minute-color: #affeff;
  	
	--bar-text-color: #affeff;
    --bar-background: #002b36;
    --bar-fill-step0: #584300;
    --bar-fill-step1: #b58900;
  }
  